*{
    margin:0px;
    padding:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    
} 

body{
    height: 100vh;
    background: linear-gradient(45deg, #0a0a0a, #3a3a3a);
}
h1{
    text-align: center;
    text-decoration:dotted;
    color:aqua;
    font-size: 50px;
    
}

.container{
    height: 50px;
    width:50px;
    margin:20px;
    text-align: center;
}

.calculator{
    height:100px;
    width:100px;
    justify-content: center;
    text-align: center;
    padding:5px;
    background-color: #2c2c2c;
    border-radius: 10px;
    
}

input{
    height:60px;
    width: 340px;
    font-size: 50px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px;
    text-align:end;
    margin-left: 35%;
    margin-top: 5%;
    align-items: center;
    box-shadow: -8px, -8px, 15px rgba(255,255,255,0.1);
    background-color: #3a3a3a;

}

.button{
    height: 80px;
    width: 80px;
    font-size: 30px;
    margin:2px;
    padding: 2px;
    border: 2px solid black;
    position: relative;
    left:35%;
    background-color:black;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1);
    cursor: pointer;
}

.operator{
    background-color:green;

}

.equalbtn{
        background-color: orange;
       
}

button:hover{
    background-color:plum;
    color: black;
}
button:active{
    background-color:#3a3a3a;
}




